body{
    background-color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    margin: 0px;
    }
    .image1{padding-left: 40px;
        height: 500px;
        width: 500px;
    
    }
    
    .image2{
        padding-left: 40px;
        height: 500px;
        width: 500px;
    }
