body{
    background-color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    margin: 0px;
    }

.title{
    font-family: 'Anton', sans-serif;
    padding-left: 45%;
}
.title2{
    font-family: 'Anton', sans-serif;
    padding-top: 50px;
    padding-left: 70px;
}
.header{
    background-color: rgb(235, 235, 235);
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 450px;
}
.nav{
    padding: 1rem;
    display: flex;
}

.nav_enlace:hover{
    color: grey;
    opacity: 1;
}
.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 10px;
    padding-left: 400px;    
}
.navitem{
    margin-left: 16px;
}
.nav_enlace{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.footer{
    background-color: rgb(235, 235, 235);
    margin: 0px;
    margin-top: 500px;
}
.footer_navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding-left: 0px;
    padding-right: 50px;
    align-items: center;
    flex-direction: column;

}
.footer_navitem{
    margin-left: 16px;
 
}
.footer_nav_enlace{
    text-decoration: none;
    color: black;

}
.navlist_redes{
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: row;
    padding-left: 1000px;

}

.navitem_redes{
    margin-left: 16px;

}

.nav_enlace_redes{
    text-decoration: none;
    color: black;

}
.grid{
    padding: 1rem;
                min-height: 500px;
                color: white;
                display: grid;
                grid-template-columns: 25% 25% 25% 25% ;
                grid-template-rows: 33% 33% 33% ;
                justify-items: stretch;
                align-content: stretch;
                justify-content: center;
                gap: 10px;
}
.grid_uno{
    border: solid;

}
.grid_os{
    border: solid;

}
.grid_tres{
    border: solid;

}
.grid_cuatro{
    border: solid;

}
.grid_cinco{
    border: solid;

}
.grid_seis{
    border: solid;

}
.grid_siete{
    border: solid;

}
.grid_ocho{
    border: solid;

}
.grid_nueve{
    border: solid;

}
.grid_iez{
    border: solid;

}
.grid_once{
    border: solid;

}
.grid_oce{
    border: solid;

}
.grid_trece{
    border: solid;

}
.grid_catorce{
    border: solid;

}
.grid_quince{
    border: solid;

}